# Project 1: Linear Regression

a) Plain old linear regression, with no regularization. You must code this one by hand (i.e use equation 3.6 to find the betas).  Report the mean squared error on the test dataset. Replicate tables 3.1 and 3.2. You will not need the validation set for this part of the assignment.



b) Ridge regression. You must also code this one by hand(eq 3.44 to find the betas). Select the optimal value of Lambda by cross-validation using the validation dataset. Report the mean squared error on the test dataset, using the best lambda you found on the validation set. DO NOT USE THE TEST DATASET TO CHOOSE LAMBDA. Plot a ridge plot similar to figure 3.8, but you can just sweep the lambda parameter (you don't have to scale it to degrees of freedom).



c) Lasso regression: Use  the built in packages in sci-kit learn or MATLAB to do a Lasso regression. Select the optimal value of lambda as in part b) and also display a Lasso plot similar to figure 3.10, but again you can just sweep the lambda parameter. 



Next, download a dataset suitable for linear regression from UCI or another repository. For now, this should be a dataset that only has numerical features, with no missing values. Repeat the analysis above on this dataset.

In [2]:
import numpy as np
import matplotlib as plt
import pandas as pd

In [3]:
prostate_df = pd.read_csv('prostate.txt', sep='\t', on_bad_lines='skip', index_col=0)
prostate_df

,lcavol,lweight,age,lbph,svi,lcp,gleason,pgg45,lpsa,train
1,-0.579818,2.769459,50,-1.386294,0,-1.386294,6,0,-0.430783,T
2,-0.994252,3.319626,58,-1.386294,0,-1.386294,6,0,-0.162519,T
3,-0.510826,2.691243,74,-1.386294,0,-1.386294,7,20,-0.162519,T
4,-1.203973,3.282789,58,-1.386294,0,-1.386294,6,0,-0.162519,T
5,0.751416,3.432373,62,-1.386294,0,-1.386294,6,0,0.371564,T
...,...,...,...,...,...,...,...,...,...,...
93,2.830268,3.876396,68,-1.386294,1,1.321756,7,60,4.385147,T
94,3.821004,3.896909,44,-1.386294,1,2.169054,7,40,4.684443,T
95,2.907447,3.396185,52,-1.386294,1,2.463853,7,10,5.143124,F
96,2.882564,3.773910,68,1.558145,1,1.558145,7,80,5.477509,T
97,3.471966,3.974998,68,0.438255,1,2.904165,7,20,5.582932,F

In [4]:
train_df = prostate_df.loc[prostate_df['train'] == 'T']
val_df  = prostate_df.loc[prostate_df['train'] == 'F'][:15]
test_df  = prostate_df.loc[prostate_df['train'] == 'F'][15:]

print(len(train_df), len(val_df), len(test_df))

67 15 15

In [5]:
train_df

,lcavol,lweight,age,lbph,svi,lcp,gleason,pgg45,lpsa,train
1,-0.579818,2.769459,50,-1.386294,0,-1.386294,6,0,-0.430783,T
2,-0.994252,3.319626,58,-1.386294,0,-1.386294,6,0,-0.162519,T
3,-0.510826,2.691243,74,-1.386294,0,-1.386294,7,20,-0.162519,T
4,-1.203973,3.282789,58,-1.386294,0,-1.386294,6,0,-0.162519,T
5,0.751416,3.432373,62,-1.386294,0,-1.386294,6,0,0.371564,T
...,...,...,...,...,...,...,...,...,...,...
91,3.246491,4.101817,68,-1.386294,0,-1.386294,6,0,4.029806,T
92,2.532903,3.677566,61,1.348073,1,-1.386294,7,15,4.129551,T
93,2.830268,3.876396,68,-1.386294,1,1.321756,7,60,4.385147,T
94,3.821004,3.896909,44,-1.386294,1,2.169054,7,40,4.684443,T
96,2.882564,3.773910,68,1.558145,1,1.558145,7,80,5.477509,T

In [14]:
X = train_df.drop(['pgg45', 'lpsa', 'train'], axis=1) # shape: (67,7) -> (N, p)
y = train_df['lpsa'] # shape: (67,)

In [18]:
beta = np.linalg.inv(X.T @ X) @ X.T @ y # shape: (7,)

In [21]:
beta
beta.shape

(7,)